// Feuille de style pour la section des compétences

section.section_competences {
    background-color: lightblue;
    height: 90vh;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // Boite contenant une carte de compétence
    div.skill {
        background-color: /* VARIABLE */ grey;
        width: /* VARIABLE */ 80%;
        // height: /* VARIABLE */ 80%;
        padding: /* VARIABLE */ 50px 20px;
        border-radius: 20px;
        

        .logoInfo {
            display: flex;
            align-items: center;
            .logo{}
            // Informations des compétences
            .info {
                // padding: 0 10px;

                // Outils utilisés dans le cours
                .outils {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    // Icone et un outil
                    .outil {
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                    }
                }   
            }
        }
        

        // Carrousel d'exemples
        .exemples {
            // background-color: red; /*TEMPORAIRE*/
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            img {
                border-radius: 12px;
            }
        }
        
    }
}