/* Style pour la page cours.htm */

// C'est les filtres de compétences de la page cours.htm //
.competences-section,
.session-container {
  padding: 20px;
  background-color: var(--couleur-fond-gris);
}

.competences-container,
.session-container {
  display: flex;
  justify-content: center; /* Centrage horizontal */
  flex-wrap: wrap;
  gap: 20px;
  // max-width: 1200px; /* Limite la largeur maximale */
  // margin: 0 auto; /* Centrage sur toute la page */
}

.competence {
  width: 10rem; /* Largeur fixe */
  height: 2.5rem; /* Hauteur fixe */
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex; /* Flexbox pour centrer le texte */
  align-items: center; /* Centrage vertical du texte */
  justify-content: center; /* Centrage horizontal du texte */
}

.session {
  width: 8rem;
  height: 2.5rem;
  padding: 10px;
  color: black;
  background-color: rgb(206, 206, 206);
  border: rgb(153, 153, 153), 2.5px solid;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex; /* Flexbox pour centrer le texte */
  align-items: center; /* Centrage vertical du texte */
  justify-content: center; /* Centrage horizontal du texte */
}
.session:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.5s ease-in-out;
}
.session:active {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: scale(1.1);
}

.competence:hover,
.session:hover {
  transform: scale(1.1);
}

.cours-section {
  gap: 1.5rem;
  padding: 40px 20px;
  background-color: var(--couleur-fond-cours);
  display: flex;
  justify-content: center; /* Centrage horizontal */
  flex-wrap: wrap;
  margin: 0 auto;
}
.cours-box {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; /* Pleine largeur sur mobile */
  max-width: 70%;
  color: var(--couleur-texte2);
}
.nomDuCours {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.cours-boxes {
  margin: 1rem auto;
  border: 5px solid var(--couleur-bordur-design);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 50%; /* Largeur maximale sur plus grands écrans */
  color: var(--couleur-texte2);
  .tempParCours ol {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .leCours {
    background-color: #ff92de;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .logicielIcon li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  h2,
  h4,
  h5,
  h5,
  h6 {
    color: black;
  }
}

.cours-header {
  background-color: var(--couleur-fond);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.btn-plus {
  background-color: var(--couleur-bouton-fond-cours-detail); /* Bouton gris */
  color: var(--couleur-texte-pale);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.btn-plus:hover {
  background-color: var(
    --couleur-bouton-fond-cours-detail-hover
  ); /* Bouton gris plus foncé au survol */
}

.cours-details {
  padding: 20px;
  display: none;
  background-color: var(
    --couleur-fond-cours-detail
  ); /* Fond légèrement plus clair pour les détails */
  color: var(--couleur-texte-pale);
}

.logo-social {
  width: 200px;
  height: 2rem;
  display: flex;
  gap: 1rem;
  img {
    width: var(--taille-icone);
    height: var(--taille-icone);
  }
}
