.faq-section {
  background-color: var(--couleur-fond-gris);
  padding: var(--espacement);
  border-bottom: 0.8rem solid white;

  .faq-container {
    display: flex;
    justify-content: space-between;
    gap: var(--espacement);
    flex-direction: column;

    @media (min-width: 769px) {
      flex-direction: row;
    }

    .left-section {
      flex: 1;
      display: flex;
      flex-direction: column;

      .logo-faq {
        img {
          max-width: 4rem;
          margin-bottom: var(--espacement);
        }
      }

      .questions-et-reponse {
        display: flex;
        flex-direction: column;

        @media (min-width: 769px) {
          flex-direction: row;
          gap: 1rem; /* Ajuster l'espacement entre les questions et la boîte de réponse */
        }

        .questions {
          display: flex;
          flex-direction: column;
          gap: var(--espacement);
        }

        .boite-reponse {
          background-color: var(--couleur-blanc);
          padding: var(--espacement);
          border: 1px solid var(--couleur-principale);
          font-size: var(--taille-police);
          color: var(--couleur-texte);
          flex: 1; /* La boîte de réponse prend aussi de l'espace */

          .question-affichee {
            font-weight: bold;
          }

          .reponse-affichee {
            margin-top: 0.5rem;
          }
        }
      }
    }

    .question {
      background-color: var(--couleur-blanc); /* Fond blanc */
      color: var(--couleur-texte); /* Couleur du texte */
      padding: 1rem; /* Augmenter le padding pour un meilleur espacement */
      margin-bottom: 0.5rem;
      font-size: var(--taille-police);
      cursor: pointer;
      border: 1px solid var(--couleur-principale); /* Bordure */
      border-radius: 0.5rem; /* Arrondir les coins */
      transition: background-color 0.3s ease, transform 0.2s ease; /* Effet de transition */

      &:hover {
        background-color: var(--couleur-principale); /* Fond change au survol */
        color: var(--couleur-blanc); /* Couleur du texte change au survol */
        transform: scale(1.05); /* Effet d'agrandissement au survol */
      }

      &:active {
        transform: scale(0.95); /* Réduire légèrement lors du clic */
      }
    }
  }

  @media (max-width: 768px) {
    .faq-container {
      flex-direction: column;
    }

    .questions {
      font-size: var(--taille-police-petite);
    }

    .boite-reponse {
      text-align: center;
    }

    .logo-faq img {
      max-width: 3rem;
    }
  }
}
