footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

  // Adaptation pour mobile
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  .footer-gauche {
    display: flex;
    align-items: center; // Centrer verticalement le logo et le copyright

    // Logo TIM
    .logo {
      width: 4rem;
      margin-right: 1rem;
    }

    // Message copyright
    .copyright {
      font-size: 14px;
    }
  }

  .footer-droite {
    font-size: 14px;

    // Adaptation pour mobile et tablette
    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }
}
