/* Feuille de style pour le footer des pages du site */

footer {
  background-color: var(--couleur-fond-gris);
  color: var(--couleur-texte-fonce);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    // pas centré sur tablette et plus large
    justify-content: space-between;
  }

  // partie gauche du footer
  .footer-gauche {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--espacement);
    text-align: center;

    // Logo TIM
    .logo {
      width: 4rem;
      height: 2rem;
    }
  }

  // Inscription
  a {
    color: var(--couleur-texte-fonce);
    margin: 5px auto; // centre le texte pour mobile
    @media (min-width: 768px) {
      // pas centré sur tablette et plus large
      margin: unset;
    }
  }
}
