/* Feuille de style pour le footer des pages du site */

footer {
  // background-color: #949191; /* variable à changer */
  background-color: #000; /* variable à changer */
  // color: #000; /* variable à changer */
  color: #fff; /* variable à changer */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    // pas centré sur tablette et plus large
    justify-content: space-between;
  }

  // partie gauche du footer
  .footer-gauche {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--espacement);
    text-align: center;

    // Logo TIM
    .logo {
      width: 4rem;
    }
  }

  // Inscription
  a {
    // color: #000; /* variable à changer */
    color: #fff; /* variable à changer */
    margin: 5px auto; // centre le texte pour mobile
    @media (min-width: 768px) {
      // pas centré sur tablette et plus large
      margin: unset;
    }
  }
}
