.galerie_projet {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte-pale);
  padding: 2vh 10%; /* variable à changer */
  
  h2 {
    // titre de la page
    margin: 30px 0; /* variable à changer */
  }
  .titre_galerie{
    font-weight: bold;
  }

  .conteneur_section_filtres {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .section_filtres {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--espacement);
    margin-bottom: var(--espacement);

    .titre_section_filtre {
      align-self: flex-start;
      font-weight: bold;
      font-size: clamp(1rem, .7143vw + .8571rem, 1.5rem);
    }

    @media (min-width: 1001px) {
      margin-top: var(--espacement);
      margin-bottom: var(--espacement);
    }

    @media (min-width: 1240px) {
      flex-flow: nowrap row;

      .titre_section_filtre {
        align-self: center;
      }
    }

    p,
    .filtre {
      // font-size: clamp(1.5rem, .7323vw + 1.3284rem, 2.5rem);
      text-align: center;

      font-family: var(--police_titres);
    }

    .les_filtres {
      color: black;
      display: flex;
      flex-flow: row wrap;
      flex: 0 1 80%;
      justify-content: space-around;
      align-items: center;

      @media (min-width: 1001px) {
        flex-flow: nowrap row;
        justify-content: space-between;
      }

      .conteneur_filtre {
        input {
          display: none;
        }
        input:checked ~ .filtre {
          background-color: black;
          color: #929292;
          border: 1px solid #929292;
        }

        .filtre {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          width: clamp(3rem, 1.4645vw + 2.6568rem, 5rem);
          padding: clamp(0.5rem, 0.1831vw + 0.4571rem, 0.75rem)
          clamp(4rem, 0.7323vw + 3.8284rem, 5rem);
          border-radius: clamp(1.25rem, 0.458vw + 1.143rem, 1.875rem);
          margin-top: var(--espacement);
          border: 1px solid rgba(0, 0, 0, 0);
          font-weight: bold;
          font-size: clamp(1rem, .7143vw + .8571rem, 1.5rem);
          transition: background-color 0.5s, color 0.5s, border 0.5s;
          
          &:hover {
            color: white;
            background-color: black;
          }

          @media (min-width: 1240px) {
            margin-top: 0rem;
          }
        }
      }
    }
  }

  .section_galerie {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
    padding: 10px;
    @media (min-width: 744px) {
      grid-template-columns: 33% 33% 33%;
    }

    .conteneur_projet {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: clamp(10rem, 10.984vw + 7.4256rem, 25rem);
      
      .lien_projet{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .projet_galerie {
          width: 80%;
          height: 90%;
          border-radius: 16px;
          position: relative;
          box-shadow: 0px 0px 0px 0px hsl(0, 0%, 61%);
          transition: width 0.5s, height 0.5s, box-shadow 0.5s;
  
          &:hover {
            width: 89%;
            height: 100%;
            box-shadow: 20px 15px 45px -12px hsl(0, 0%, 61%);
            .projet_filtre {
              opacity: 0%;
            }
          }
  
          .projet_image {
            width: 100%;
            height: 100%;
            background-image: url("images/projets-etudiants/triptyque.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 50% top 65%;
            border-radius: 16px;
          }
  
          .projet_filtre {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 50%;
            border-radius: 16px;
            transition: opacity 0.75s;
          }
        }
      }

    }
  }

  .gal_proj_web,
  .filtre_web {
    background-color: var(--couleur-web4);
  }
  .gal_proj_jeu,
  .filtre_jeu {
    background-color: var(--couleur-jeux4);
  }
  .gal_proj_3d,
  .filtre_3d {
    background-color: var(--couleur-3d-fond);
  }
  .gal_proj_video,
  .filtre_video {
    background-color: var(--couleur-video-fond);
  }
  .gal_proj_ui,
  .filtre_ui {
    background-color: var(--couleur-design-fond);
  }
}
