.galerie-projets {
  background-color: var(--couleur-galerie-fond); /* Fond blanc */
  padding: var(--espacement);
  text-align: center;

  .galerie-titre {
    color: var(--couleur-galerie-texte); /* Texte noir */
    font-size: var(--taille-police-grande);
    margin-bottom: var(--espacement);
  }

  .projets-container {
    display: flex;
    flex-direction: column;
    gap: var(--espacement);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    .projet {
      background-color: var(--couleur-galerie-fond); /* Fond blanc */
      border: 1px solid var(--couleur-galerie-bordure); /* Bordure noire */
      padding: var(--espacement);
      border-radius: 0.5rem;

      img {
        width: 100%;
        max-width: 300px; /* Taille moyenne */
        height: auto; /* Maintient la proportion de l'image */
        border-radius: 0.5rem;
        margin-bottom: var(--espacement);
        object-fit: cover; /* Assure que l'image remplisse bien le cadre */
      }

      h3 {
        color: var(--couleur-galerie-texte); /* Titre en noir */
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--couleur-galerie-texte); /* Texte en noir */
      }
    }
  }
}
