* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
html {
  scroll-behavior: smooth;
}

//=========SECTION HAUT DE PAGE=======//
.section-stage {
  color: var(--couleur-texte-pale);
  margin-left: 20px; /* variable */
  margin-bottom: 1rem; /* variable */
}
.carriere {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.intro-carr {
  width: 1200px; /* variable */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px; /* variable */
}

.ligne-intro {
  width: 100%;
  height: 1px;
  background-color: var(--couleur-fond);
  margin-top: 10px; /* variable */
}
.intro-paragraphe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px; /* variable */
  justify-content: center;
}

.description-intro {
  width: 70%; /* variable */
  margin-left: 30px; /* variable */
  font-size: var(--poid_textes);
  color: var(--couleur-texte-pale);
}
.trois-cat {
  height: 70px; /* variable */
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px; /* variable */
  text-align: center;
}
.trois-cat a {
  width: 200px;
  height: 40px;
  background-color: var(--couleur-fond);
  color: white;
  font-size: var(--taille-police);
  font-weight: bold;
  padding: 1.6rem 0rem 1.6rem 0rem; /* variable */
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px; /* variable */
  cursor: pointer;
  margin-bottom: 1rem;
}

// Animations hover
.animation-stage {
  border: 6px solid var(--couleur-design-fond); /* variable */

  background: {
    image: linear-gradient(
      45deg,
      var(--couleur-design-fond) 50%,
      transparent 50%
    );
    position: 100%;
    size: 400%;
  }
  transition: background-position 400ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

.animation-universite {
  border: 6px solid var(--couleur-3d-fond); /* variable */

  background: {
    image: linear-gradient(45deg, var(--couleur-3d-fond) 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background-position 400ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

.animation-emploi {
  border: 6px solid var(--couleur-video-fond); /* variable */

  background: {
    image: linear-gradient(
      45deg,
      var(--couleur-video-fond) 50%,
      transparent 50%
    );
    position: 100%;
    size: 400%;
  }
  transition: background-position 400ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

//==========Couleurs =============//

.couleur_stage {
  color: var(--couleur-design-fond);
}

.couleur_universite {
  color: var(--couleur-3d-fond);
}

.couleur_emploi {
  color: var(--couleur-video-fond);
}

.bordure_stage {
  border: 6px solid var(--couleur-design-fond); /* variable */
  border-radius: 25px;
}

.bordure_universite {
  border: 6px solid var(--couleur-3d-fond); /* variable */
  border-radius: 25px;
}

.bordure_emploi {
  border: 6px solid var(--couleur-video-fond); /* variable */
  border-radius: 25px;
}

//=========PARTIE EN BAS DETAILS =======//
.detail-carri {
  display: flex;
  flex-direction: column;
  color: var(--couleur-texte-pale);
  width: 1200px; /* variable */
}
.detail-universelle {
  margin: 5rem 0rem 5rem 0rem; /* variable */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0rem 5rem 0rem; /* variable */
}
.images-stage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.images-stage img:nth-of-type(2) {
  padding-top: 10px; /* variable */
}

.contenu-image-description {
  display: flex;
  margin-top: var(--espacement); 
  justify-content: space-around;
}
#univer .contenu-image-description {
  flex-direction: row-reverse;
}
#univer .contenu-image-description img {
  margin-left: 20px; /* variable */
}

.paragraphe {
  margin-left: 20px; /* variable */
}
.paragraphe p {
  padding: 10px; /* variable */
  border-radius: 10px; /* variable */
}

.paragraphe a:hover {
  color: var(--couleur-random-a-changer); /* variable */
}

//=========LOGO=======//
.logo_carriere {
  width: 12rem; /* variable */
  height: auto;
  object-fit: contain;
}
.logo_flecheCar {
  width: 100%;
  height: auto;
}

//RESPONSIVE========//

@media (max-width: 3500px) {
  .logo_carriere {
    width: 17rem; /* variable */
  }
}
@media (max-width: 1240px) {
  .intro-carr {
    width: 100%;
  }
  .description-intro {
    width: 60%; /* variable */
  }
  #univer .contenu-image-description {
    flex-direction: column;
  }
  .contenu-image-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenu-image-description img,
  .contenu-image-description p,
  .images-stage img {
    width: 60%; /* variable */
    height: auto;
    margin-top: 1rem;
  }
  .paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .intro-paragraphe {
    flex-direction: column;
    align-items: center;
  }
  .description-intro {
    width: 75%; /* variable */
  }
  .trois-cat {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px; /* variable */
    gap: 0.5rem;
  }
  .trois-cat a {
    margin-bottom: 1rem;
  }
 

  .contenu-image-description {
    width: 100%;
    height: auto;
  }
  .logo_carriere {
    width: 17rem; /* variable */
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
