.carriere{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    
}
.intro-carr{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

h3{
    font-size: var(--taille-police-grande);
    font-weight: bold;
    color: #ffffff;
    margin-left: 30px;
}

.ligne-intro{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
}
.intro-paragraphe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.description-intro{
    width: 70%;
    margin-left: 30px;
    font-size: 1.2em;
    color: #ffffff;
}
.trois-cat{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
}
.trois-cat a{
    width: 200px;
    height: 40px;
    background-color: rgb(176, 176, 176);
    color: #000;
    font-size: var(--taille-police);
    font-weight: var( --poid_textes);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    cursor: pointer;

}
.trois-cat a:hover{
    background-color: #ffffff;
}

.detail-carri{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 1200px;
}
.detail-universelle{
    
    margin: 10rem 0rem 10rem 0rem;
}
.detail{
    margin: 5rem 0 5rem 0;
}
.detail:nth-of-type(even){
    display: flex;
    flex-direction: row-reverse;
}