// Conteneur du menu
nav.menu {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  height: 10vh;
  padding: 0 4%;
  z-index: 100;
  background-color: var(--couleur-fond-accueil);
  color: var(--couleur-texte-fonce);

  .logo_img {
    width: 4rem;
    height: 2rem;
  }

  // Contenu de la boîte
  div.menu_contenu {
    display: flex;
    width: 100%;
    justify-content: space-between; // Pour aligner le contenu

    // Titre du menu
    p.menu_titre {
      display: flex;
      align-items: center;
      padding-left: 0;
      text-align: left;
      width: auto;
    }

    // Onglets de navigation
    .menu_liste {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      width: auto;
      justify-content: space-around;

      // Liens vers les onglets
      a {
        color: var(--couleur-texte-pale);
        padding: 1rem;
      }

    }

    // Bouton Inscription
    .inscription {
      padding: 2rem 0;
      color: var(--couleur-texte-fonce);
      width: auto;
      text-align: center;
      margin-right: 2.5rem; // Espacement entre le bouton inscription et le hamburger
    }

    // Menu hamburger
    .menu_hamburger {
      display: none; // Cacher par défaut
      flex-direction: column;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 4%;
      top: 50%;
      transform: translateY(-50%);

      span {
        width: 25px;
        height: 3px;
        background: white;
        margin: 4px 0;
      }
    }
  }

  // Styles pour mobile
  @media (max-width: 768px) {
    div.menu_contenu {
      .menu_liste {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 30vh;
        position: absolute;
        top: 10vh;
        left: 0;
        background-color: var(--couleur-fond);
        z-index: 99;

        &.active {
          display: flex;
        }

        a {
          padding: 1rem;
        }
      }

      .menu_hamburger {
        display: flex; // Afficher le bouton hamburger
      }

      // Placer Inscription à gauche du hamburger
      .inscription {
        order: 1; // S'assure que le bouton Inscription vient avant le hamburger
      }
    }
  }

  // Styles pour tablettes et ordinateurs
  @media (min-width: 768px) {
    .menu_hamburger {
      display: none;
    }
  }
}
