/* 
  Feuille de style 
  de la première section 
  de la page d'accueil 
*/

section.debut_accueil {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  // Image de fond par défaut pour le mobile
  background-image: url("images/sortie-vr/sortie-vr4.jpg");
  background-size: cover;
  background-position: center;

  // Image de fond pour les tablettes
  @media (min-width: 768px) and (max-width: 1024px) {
    background-image: url("images/sortie-vr/sortie-vr5.jpg");
  }

  // Image de fond pour les ordinateurs
  @media (min-width: 1025px) {
    background-image: url("images/sortie-vr/sortie-vr7.jpg");
  }

  div {
    // Pour centrer le texte dans le div
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Cercle avec fond transparent
    background-color: rgba(0, 0, 0, 0.7); /* variable à changer */
    border-radius: 50%;
    /* Utilise vw pour un ajustement dynamique */
    width: 60vw;
    max-width: 32rem;
    min-width: 15rem;
    height: 60vw;
    /* Hauteur égale à la largeur pour maintenir le cercle */
    max-height: 32rem;
    min-height: 15rem;
    /* Retire le padding pour garder le cercle */
    padding: 0;

    // Titre et sur-titre
    h1,
    h6 {
      color: var(--couleur-texte-pale);
    }
    h1 {
      font-size: clamp(2.244rem, 1.93rem + 1.569vw, 45px); // pour cap a 48px
    }
  }
}
