// Feuille de style pour la section des compétences
section.competences {
  padding: var(--espacement);
  background-color: var(--couleur-fond);
  color: var(--couleur-texte-pale);

  // Boite contenant une carte de compétence
  div.competence-item {
    background-color: var(--couleur-competence-fond);
    margin: 0 auto;
    padding: var(--espacement);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;

    /* variable à changer --> espacement que le main prend*/
    @media (min-width: 1025px) {
      width: 80%;
      /* variable à changer */
    }

    // Bouton ouvrir/fermer
    .top-right-button {
      position: absolute;
      top: -1.5rem;
      /* variable à changer */
      right: -1.5rem;
      /* variable à changer */
      margin-bottom: 2rem;
      cursor: pointer;
      rotate: 45deg;

      .svg_1 {
        width: 75px;
        height: 75px;
      }

      .circle {
        stroke-dasharray: 377;
        stroke-dashoffset: 377;
        transition: all 1s ease;
      }

      &:hover .circle {
        stroke-dashoffset: 0;
      }

      .x-symbol {
        opacity: 1;
        transition: opacity 0.3s ease-in-out; // Apply transition to both properties

      }

      &:hover .x-symbol {
        // stroke: white;
      }

    }

    button.clicked {
      .x-symbol:nth-child(3) {
        opacity: 0;
        transition: opacity 0.3s ease-in-out; // Apply transition to both properties
      }

    }



    // Entête de la compétence // Partie visible en tout temps
    .competence-header {
      display: flex;
      position: relative;
      /* pour le bouton */
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: row;
        // align-items: flex-start;
      }

      border-radius: 0.5rem;
      gap: var(--espacement);

      // nom et logo
      .logo {
        display: flex;
        column-gap: var(--espacement);
        row-gap: 0.5rem;
        flex-basis: 25%;
        align-items: center;
        flex-direction: column-reverse;

        @media (min-width: 768px) {
          flex-direction: column;
          text-align: center;
          white-space: nowrap;
        }

        // cercle
        .contour {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: solid 7px;
          height: 120px;
          width: 120px;

          @media (min-width: 768px) {
            width: 150px;
            height: 150px;
          }

          // rectangle invisible entourant le svg
          rect {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        // couleur selon les compétence
        .contour#video {
          background-color: var(--couleur-video-fond);
          border-color: var(--couleur-video-bordure);
        }

        .contour#_3d {
          background-color: var(--couleur-3d-fond);
          border-color: var(--couleur-3d-bordure);
        }

        .contour#web {
          background-color: var(--couleur-web-fond);
          border-color: var(--couleur-web-bordure);
        }

        .contour#design {
          background-color: var(--couleur-design-fond);
          border-color: var(--couleur-design-bordure);
        }

        .contour#jeux {
          background-color: var(--couleur-jeux-fond);
          border-color: var(--couleur-jeux-bordure);
        }
      }

      // Informations des compétences
      .info {
        box-sizing: border-box;
        flex-basis: 70%;

        // texte descriptif
        &>p {
          margin-bottom: var(--espacement);

          @media (min-width: 768px) {
            text-align: unset;
          }
        }

        // Outils/Logiciels utilisés dans le cours
        .outils {
          display: flex;
          flex-wrap: wrap;

          @media (min-width: 768px) {
            justify-content: unset;
          }

          column-gap: var(--espacement);
          align-items: center;

          // Icone et un outil
          .outil {
            display: flex;
            gap: 1rem;
            align-items: center;
            text-wrap: nowrap;

            // icone
            svg {
              height: var(--taille-icone);
              width: var(--taille-icone);
              fill: white;
            }
          }
        }
      }
    }

    // Carrousel d'exemples de projet
    .competence-content {
      position: relative; // pour les flèches
      justify-content: space-between;
      align-items: center;
      display: none; // change avec le bouton X
      padding: var(--espacement);
      overflow: hidden;
      column-gap: var(--espacement);

      // flèches du carrousel
      .flecheGauche,
      .flecheDroite {
        position: absolute;
        border: none;
        // centre verticalement
        transform: translateY(-50%);
        font-size: var(--h3);
        color: #dbb2ab;
        /* variable à changer */
        cursor: pointer;
        z-index: 10;
      }

      .flecheGauche {
        left: 10px;
      }

      .flecheDroite {
        right: 10px;
      }

      article {
        .miniature {
          height: 225px;
          /* variable à changer */
          width: 400px;
          /* variable à changer */
          position: relative;

          &.inactif {

            // height: 171px;
            // width: 304px;
            &::after {
              content: "";
              position: absolute;
              background-color: rgba(0, 0, 0, 0.7);
              top: 0;
              left: 0;
              right: 0px;
              bottom: 0;
            }
          }

          img {
            height: 100%;
            // object-fit: cover;
          }
        }

        h4 {
          margin-top: var(--espacement);
          text-align: center;
        }
      }
    }

    // Quand on clique sur la compétence : elle se déplie
    &.active .competence-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}