// Feuille de style pour la section des compétences

section.competences {
  background-color: var(--couleur-competences-fond);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding:
    /* VARIABLE padding X*/ 4%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .svg_1 {
    width: 125px;
    height: 125px;
  }

  .circle {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    transition: all 1s ease;
  }

  button:hover .circle {
    stroke-dashoffset: 0;
  }

  .x-symbol {
    transition: stroke 0.3s ease;
  }

  button:hover .x-symbol {
    stroke: rgb(232, 14, 14);
  }

  // Boite contenant une carte de compétence
  div.competence-item {
    background-color:
      /* VARIABLE */ var(--couleur-fond);
    width:
      /* VARIABLE */ 80%;
    // height: /* VARIABLE */ 80%;
    // padding:
    //   /* VARIABLE */ 50px 20px;
    border-radius:
      /* VARIABLE border-radius */ 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 5px solid var(--couleur-video);
    box-sizing: border-box;
    // position: relative;
    .competence-header {
      position: relative;
    }
    .top-right-button {
      position: absolute;
      top: 5%;
      right: 5%;
      margin-bottom: 2rem;
    }

    // Entête de la compétence
    .competence-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      font-size:
        /* VARIABLE font-size*/ 1.5rem;
      color: white;
      background-color: var(--couleur-fond);
      border-radius: 0.5rem;

      .logo h3 {
        margin-left: 1rem;
        white-space: nowrap;
      }

      // Informations des compétences
      .info {
        box-sizing: border-box;
        // margin-left: -2rem;
        p {
          margin-left: -2rem; /* Ensure no extra margin */
        }
        // Outils utilisés dans le cours
        .outils {
          display: flex;
          justify-content: space-around;
          align-items: center;

          // Icone et un outil
          .outil {
            display: flex;
            // justify-content: center;
            align-items: center;
          }
        }
      }
    }

    // Carrousel d'exemples
    .competence-content {
      // background-color: red; /*TEMPORAIRE*/
      //   display: flex;
      justify-content: space-between;
      align-items: center;

      display: none;
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.6;
      overflow: hidden;
      img {
        border-radius: 12px;
      }
    }

    // Quand on clique sur la compétence : elle se déplie
    &.active .competence-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .competence-header {
      display: flex;
      flex-direction: column;
    }

    /* Adjust 768px to your mobile breakpoint */
    div.competence-item {
      background-color:
      /* VARIABLE */ var(--couleur-fond);
      width:
      /* VARIABLE */ 100%;
    }
    .competence-item p {
      margin-left: -2rem; /* Ensure no extra margin */
    }
  }
  @media (max-height: 768px) {
  }
}
