// Feuille de style pour la section des compétences
section.competences {
  padding: var(--espacement);
  background-color: var(--couleur-fond);
  color: var(--couleur-texte-pale);

  // Boite contenant une carte de compétence
  div.competence-item {
    background-color: var(--couleur-competence-fond);
    margin: 0 auto;
    padding: var(--espacement);
    // border: 5px solid var(--couleur-video);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%; /* variable à changer */
    @media (min-width: 1025px) {
      width: 80%; /* variable à changer */
    }

    // Bouton ouvrir/fermer
    .top-right-button {
      position: absolute;
      top: -1.5rem; /* variable à changer */
      right: -1.5rem; /* variable à changer */
      margin-bottom: 2rem;
      cursor: pointer;

      .svg_1 {
        width: 75px;
        height: 75px;
      }

      .circle {
        stroke-dasharray: 377;
        stroke-dashoffset: 377;
        transition: all 1s ease;
      }

      &:hover .circle {
        stroke-dashoffset: 0;
      }

      .x-symbol {
        transition: stroke 0.3s ease;
      }

      &:hover .x-symbol {
        stroke: rgb(232, 14, 14);
      }
    }

    // Entête de la compétence // Partie visible en tout temps
    .competence-header {
      display: flex;
      position: relative; /* pour le bouton */
      flex-direction: row;
      align-items: center;
      border-radius: 0.5rem;
      gap: var(--espacement);

      // nom et logo
      .logo {
        text-align: center;
        white-space: nowrap;

        .contour {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 50%;
          height: 110px;
          width: 110px;
          min-width: 110px;
          min-width: 150px;
          min-height: 150px;
          //
          background-color: var(--couleur-video-fond);
          border: 5px solid var(--couleur-video-bordure);

          rect {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      // Informations des compétences
      .info {
        box-sizing: border-box;
        // Outils utilisés dans le cours
        .outils {
          display: flex;
          justify-content: space-around;
          align-items: center;

          // Icone et un outil
          .outil {
            display: flex;
            // justify-content: center;
            align-items: center;
          }
        }
      }
    }

    // Carrousel d'exemples
    .competence-content {
      // background-color: red; /*TEMPORAIRE*/
      //   display: flex;
      justify-content: space-between;
      align-items: center;

      display: none;
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.6;
      overflow: hidden;
      img {
        border-radius: 12px;
      }
    }

    // Quand on clique sur la compétence : elle se déplie
    &.active .competence-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    // .competence-header {
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
