// Feuille de Style pour la section de présentation du programme

.presPro {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte-pale);
  padding: 2vh 10%; /* variable à changer */

  h2 {
    // c'est quoi le multimédia?
    margin: 30px 0; /* variable à changer */
    font-weight: 400;
    span {
      // multimédia?
      font-weight: var(--poid_titres);
    }
  }
}
