/*
$color1: #3498db; // Bleu
$color2: #e74c3c; // Rouge
$color3: #2ecc71; // Vert
$color4: #f1c40f; // Jaune
$color5: #9b59b6; // Violet
*/

:root {
  // temporaire
  --color1: #3498db; // Bleu
  --color2: black; // Noir
  --color3: black; // Noir
  --color4: #f1c40f; // Jaune
  --color5: #9b59b6; // Violet
  // ------------------------------------------------
  --couleur-fond: black;
  --couleur-principale: #0044cc;
  --couleur-texte: black;
  --couleur-blanc: #ffffff;
  --couleur-fond-gris: #2f2f2f; // Fond gris pour la FAQ
  --couleur-text-accueil-intro: white;
  --couleur-competences-fond: #7f7f7f;
  --couleur-galerie-fond: #7f7f7f;
  --couleur-galerie-fond-projets: rgb(79, 79, 79);
  --couleur-galerie-texte: white;
  --couleur-galerie-bordure: #000000;
  --espacement: 1.5rem;
  --taille-police: 1.2rem;
  --taille-police-grande: 1.5rem;
  --taille-police-petite: 1rem;
  --taille-icone: 2rem; /* Taille uniforme pour toutes les icônes */
}

$color1: --color1;
$color2: --color2;
$color3: --color3;
$color4: --color4;
$color5: --color5;

@mixin applique-couleur($elements, $color) {
  #{$elements} {
    color: var(#{$color});
  }
}
