// Feuille de style pour les Variables de couleur //
// Palette Émile
$couleur-paletteEmile1: #000000;
$couleur-paletteEmile2: #2b2b2b;
$couleur-paletteEmile3: #929292;
$couleur-paletteEmile4: #d3cfcf;
$couleur-paletteEmile5: #ffffff;
// Palette Janne
$couleur-paletteJanne1: #003e7e;
$couleur-paletteJanne2: #0279c2;
$couleur-paletteJanne3: #99d7db;
$couleur-paletteJanne4: #cce5ff;
$couleur-paletteJanne5: #e0e4e8;

:root {
  /////////////// COULEUR DES COURS //////////////////////////////
  --couleur-web: #3ce36a;
  --couleur-jeux: #00bae2;
  --couleur-3d: #ff8709;
  --couleur-design: #e920ad;
  --couleur-video: #9d95ff;
  
  /////////////// COULEUR DES SECTIONS ///////////////////////////
  --couleur-fond-accueil: #d3cfcf; // Fond du menu, footer et html/body
  --couleur-fond: #000000; // Fond noir utilisé en arrière plan
  --couleur-fond-gris: #949191; // Fond gris pour la FAQ
  --couleur-principale: #cfcfcf; //FAQ boite à réponse
  --couleur-fond-cours-detail: #404040;
  --couleur-bouton-fond-cours-detail: #6c757d;
  --couleur-bouton-fond-cours-detail-hover: #5a6268;
  --couleur-fond-cours: #545050;
  --couleur-competences-fond: #3b3b3b;

  --couleur-cours-border: #707070;

  --couleur-galerie-fond: #3b3b3b;
  --couleur-galerie-fond-projets: #4f4f4f;
  --couleur-galerie-texte: white;
  --couleur-galerie-bordure: #000000;

  /////////////// AUTRES VARIABLE UTILES ////////////////////////////
  --espacement: 1.5rem; // Espace utilisé pour padding et margin
  --taille-icone: 2rem; /* Taille uniforme pour toutes les icônes */
}
