// Feuille de style des polices de texte

// Variables des polices
:root {
  // Titre
  --police_titres: "Plus Jakarta Sans", system-ui; // version Émile
  // --police_titres: "SUSE", system-ui; // version Janne
  --poid_titres: 700;
  --style_titres: normal;

  // Textes
  --police_textes: "Roboto", system-ui; // version Émile
  // --police_textes: "Quicksand", system-ui; // version Janne
  --poid_textes: 400;
  --style_textes: normal;
  
  // Tailles
  --taille-police: 1.2rem;
  --taille-police-grande: 1.5rem;
  --taille-police-petite: 1rem;
}

//* Exemples de classe *//

//// Quicksand ////
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

// .quicksand-<uniquifier> {
//   font-family: "Quicksand", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


//// Suse //// (substitut de typoGraphica)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

// .suse-<uniquifier> {
//   font-family: "SUSE", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


//// Jakarta-sans //// (substitut de Coolvetica)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

// .plus-jakarta-sans-<uniquifier> {
//   font-family: "Plus Jakarta Sans", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


//// Roboto //// 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

// .roboto-<uniquifier> {
//   font-family: "Roboto", system-ui;
//   font-weight: <weight>;
//   font-style: normal/italic;
// }
