// Feuille de style des polices de texte

// Variables des polices
:root {
  // Couleurs
  --couleur-texte-fonce: #000000;
  --couleur-texte-pale: #ffffff;

  // Titre
  --police_titres: "Plus Jakarta Sans", system-ui; // version Émile
  // --police_titres: "SUSE", system-ui; // version Janne
  --poid_titres: 700;
  --style_titres: normal;

  // Textes
  --police_textes: "Roboto", system-ui; // version Émile
  // --police_textes: "Quicksand", system-ui; // version Janne
  --poid_textes: 400;
  --style_textes: normal;

  // Tailles
  --h1: clamp(2.244rem, 1.93rem + 1.569vw, 3.813rem); // H1 35.9px to 61px (2.244rem to 3.813rem)
  --h2: clamp(1.875rem, 1.65rem + 1.125vw, 3rem); // H2 30px to 48px (1.875rem to 3rem)
  --h3: clamp(1.625rem, 1.462rem + 0.813vw, 2.438rem); // H3 26px to 39px (1.625rem to 2.438rem)
  --h4: clamp(1.381rem, 1.27rem + 0.557vw, 1.938rem); // H4 22.1px to 31px (1.381rem to 1.938rem)
  --h5: clamp(1.2rem, 1.127rem + 0.363vw, 1.563rem); // H5 19.2px to 25px (1.2rem to 1.563rem)
  --h6: clamp(1.044rem, 1.003rem + 0.206vw, 1.25rem); // H6 16.7px to 20px (1.044rem to 1.25rem)
  --p: clamp(1rem, 0.9546rem + 0.227vw, 1.1rem); // P 16px to 17.6px (1rem to 1.1rem)

  // ?
  --taille-police-petite: 1rem;
  --taille-police: 1.2rem;
  --taille-police-grande: 1.5rem;
}

//* Exemples de classe *//

//// Quicksand ////
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

// .quicksand-<uniquifier> {
//   font-family: "Quicksand", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

//// Suse //// (substitut de typoGraphica)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

// .suse-<uniquifier> {
//   font-family: "SUSE", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

//// Jakarta-sans //// (substitut de Coolvetica)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

// .plus-jakarta-sans-<uniquifier> {
//   font-family: "Plus Jakarta Sans", system-ui;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

//// Roboto ////
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

// .roboto-<uniquifier> {
//   font-family: "Roboto", system-ui;
//   font-weight: <weight>;
//   font-style: normal/italic;
// }
